<!DOCTYPE html>
<html>

    <head>
        <!-- Load VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>DraftDota - Ravi's Spinoff</title>
    </head>
    <body>

        <h1>DraftDota VERSION 2.0</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <br>

        <!-- using components -->
        <h3>First Comment</h3>
        <div id="like_button">
            {{ message }}
        </div>

        <div id="hover">
            <span v-bind:title="message">
                My name is chinchin!
            </span>
        </div>

        <div id="disappear">
            <span v-if="seen">Now you see me</span>
        </div>

        <div id="list">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>

        <div id="reverser">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">Reverse</button>
        </div>

        <div id="app-6">
            <p>{{message}}</p>
            <input v-model="message">
        </div>

        <p><b>EOF</b></p>

        <script src="index.js"></script>
    </body>
</html>
